@import url('https://fonts.googleapis.com/css?family=Roboto|Scheherazade&display=swap');

$primary       : #50C140;
$secondary     : #C4C4C4;
$tertiary      : #F0F0F0;
$text          : #000000;
$text-secondary: #8D8C8C;
$bg            : #fff;

@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  text-align: $align;
  justify-content: $justify;
}

html, body, #root, .container {
  min-height: 100%;
}

html {
  position: relative;
  min-width: 200px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bg;
}

.container {
  background-color: $bg;
  box-sizing: border-box;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  @include flexbox(column, center, space-between);
}

.artwork {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background-color: $primary;
  border-radius: 0 0 56px 56px;
  margin-bottom: 24px;
}

.metadata {
  @include flexbox(column, flex-start, space-between);
  text-align: left;
  margin-bottom: 24px;
}

.radio-name {
  color: $text;
  font-size: 24px;
  margin: 0 0 8px 0;
}

.address {
  color: $text-secondary;
  font-size: 16px;
  margin: 0 0 8px 0;
}

.freq {
  color: $text-secondary;
  font-size: 16px;
  margin: 0 0 8px 0;
  margin: 0;
}

.control {
  @include flexbox(column, center, space-between);
  margin-bottom: 24px;
}

.play {
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary;
  outline: none;
  border: none;
  border-radius: 100%;
  font-size: 56px;
  padding: 8px 0 0 8px;
}